body {
  box-sizing: border-box;
  text-align: center;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.game {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 500px;
  background: url("img/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
}

.game__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.game__button {
  width: 50px;
  height: 50px;
  background-color: wheat;
  border: 1px solid black;
  border-radius: 3px;
  font-size: 25px;
  transition: transform 100ms ease-in;
}

.game__button:hover {
  transform: scale(1.05);
}

.game__timer {
  width: 100px;
  text-align: center;
  border: 1px solid black;
  border-radius: 3px;
  font-size: 30px;
  margin: 5px;
  background-color: tomato;
  color: white;
  /* 평소에는 보이지 않다가 게임이 시작되면 보이도록,
  display: none은 랜더 트리에 포함이 되지 않기 때문에 아래 GAME필드
  사이즈에 영향을 줌. */
  visibility: hidden;
}

.game__score {
  width: 50px;
  height: 50px;
  text-align: center;
  border: 1px solid black;
  border-radius: 50%;
  font-size: 45px;
  line-height: 100%;
  background-color: tomato;
  color: white;
  /* 평소에는 보이지 않다가 게임이 시작되면 보이도록,
  display: none은 랜더 트리에 포함이 되지 않기 때문에 아래 GAME필드
  사이즈에 영향을 줌. */
  visibility: hidden;
}

.game__field {
  width: 100%;
  height: 100%;
  background-color: tomato;
  margin-top: 50px;
  position: relative;
}

.pop-up {
  width: 400px;
  height: 120px;
  background-color: black;
  border-radius: 3px;
  color: white;
  text-align: center;
  margin: auto;
  transform: translateY(-150%);
  opacity: 0.6;
  padding: 15px;
}

.pop-up--hide {
  display: none;
}

.pop-up__refresh {
  width: 60px;
  height: 60px;
  font-size: 30px;
  background-color: wheat;
  border: 1px solid black;
  border-radius: 50%;
}

.pop-up__message {
  display: block;
  font-size: 30px;
}
